//
   Created by farez on 2014-10-12.

extends layout

block content
    h1 Steam Report Card
    h2 #{user.realName} aka #{user.personaName}
    p
        #[img.avatar(src='#{user.avatar}')]
    p
        #[a.link(href='#{user.profileUrl}') #{user.profileUrl}]
